<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}"> <!-- CSS du menu -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_groupe.css') }}"> <!-- CSS de la page d'accueil -->

    <title>Ajouter un groupe</title>
</head>
<body>
    {% include 'menu.html' %}

    <h1>Ajouter un groupe</h1>
    <form method="post">

        <label for="content">Nom du groupe</label>
        <input type="text" id="name" name="name" required></input><br>

        <button type="submit">Valider</button>
    </form>

</body>
</html>
