<footer>
    <div class="credit">© 2024 Gabriel Boehler</div>

    <div class="credit-caroussel"> Menu Caroussel tournant conçu par <a href="https://github.com/Cassianosch" title="Cassianosch"> Cassianosch </a></div>

    <div class="credit-icons"> <p>Icônes conçues par </p>
        <a href="https://www.flaticon.com/fr/auteurs/alejandro-rodriguez" title="Alejandro rodriguez"> Alejandro rodriguez </a> <!--Foot !-->
        <a href="https://www.flaticon.com/fr/auteurs/ferart88" title="ferart88"> ferart88 </a> <!--badminton !-->
        <a href="https://www.flaticon.com/fr/auteurs/juicy-fish" title="juicy_fish"> juicy_fish </a> <!--volleyball !-->
        <a href="https://www.flaticon.com/fr/auteurs/imaginationlol" title="imaginationlol"> imaginationlol </a> <!--Tennis !-->
        <a href="https://www.flaticon.com/fr/auteurs/andinur" title="andinur"> andinur </a> <!--boxe !-->
        <a href="https://www.freepik.com" title="Freepik"> Freepik </a> <!--natation , basket!-->
        <a href="https://www.flaticon.com/fr/auteurs/good-ware" title="Good Ware"> Good Ware </a> <!--Rugby !-->
        <p>from </p><a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a>
    </div>
    
</footer>